<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @{
//TODO #1: Use a loop to display job results in a table.
    }
    <div>
    @foreach (Job job in ViewBag.jobs)
    {
        <table class="job-listing">
            <tr>
                <td>
                    Id: @job.Id
                </td>
                <td>
                    @job.Name
                </td>
                <td>
                    @job.Employer
                </td>

            </tr>
            

        </table>
    }


    </div>